@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.container {
    width: 1440px;
}

.container1 {

    display: flex;
    background-color: #F4F4F4;


}

.cart {
    margin-top: 0px;
    background-color: #333333;
    width: 70px;
    height: 896.56px;
    display: flex;
    flex-direction: column;
    padding-top: 160px;
    align-items: center;

}

.im {
    width: 30px;
}



.paragraph1 {
    font-family: 'Autography', cursive;
    font-weight: 400;
    font-size: 48px;
    line-height: 90.62px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top1 {
    display: flex;
}

.img {
    width: 48px;
    height: 11px;
    top: 46.9px;
    left: 1286.9px;


}


.heading {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.head {
    width: 493px;
    height: 144px;
    top: 240.08px;
    left: 80.61px;

}

.head1 {
    width: 651.53px;
    height: 151.57px;
    top: 418.86px;
    left: 80.61px;

}

.paragraph2 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.heading1 {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.head2 {
    width: 231px;
    height: 42px;
    top: 602.7px;
    left: 80.61px;

}

.container2 {

    padding: 70px;
}

.head3 {

    height: 36px;
    top: 981.04px;
    left: 80.21px;

}

.paragraph3 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.head4 {
    width: 885px;
    height: 128px;
    top: 1029.21px;
    left: 80.21px;

}

.heading2 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.top2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.head5 {
    width: 161px;
    height: 30px;
    top: 1073.52px;
    left: 1173.14px;

}

.button {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;


    border-width: 2px;
    border-style: solid;
    padding: 10px;
    background-color: white;
}

.cart1 {
    width: 252px;
    height: 36px;
    top: 1215.55px;
    left: 80px;

}

.he1 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;

}

.pe {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.cart2 {
    width: 408.81px;
    height: 101.38px;
    top: 1280.02px;
    left: 80.98px;

}

.cart3 {

    display: flex;
    align-items: center;

}

.he2 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.cart4 {
    width: 200px;
    height: 36px;
    top: 1466.61px;
    left: 80px;

}

.he3 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}

.cart5 {
    width: 408.81px;
    height: 101.38px;
    top: 1531.08px;
    left: 80.98px;
}

.container3 {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.container4 {
    width: 1440px;

    top: 1808.2px;
    background-color: #333333;

}

.cart6 {
    align-content: center;


}

.he4 {
    margin-top: 40px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #A1A0A1;
    text-align: center;
}

.he5 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    text-align: center;
}

.sp {
    color: #ffffff;
    font-weight: 400;
    font-size: 24px;
}

.span {
    font-weight: 600;
    font-size: 24px;
}

.span1 {
    background-color: green;
    border-radius: 50%;


}

.span2 {
    background-color: orange;
    border-radius: 50%;
    margin-left: 10px;
}

.span3 {
    background-color: blue;
    border-radius: 50%;
    margin-left: 10px;
}

.span4 {
    background-color: brown;
    border-radius: 50%;
    margin-left: 10px;
}

.container5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.part {
    margin-left: 40px;
}

.he6 {
    font-family: Poppins;
    font-size: 56px;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: center;
    color: #333333;
    text-align: center;
}

.blu {

    align-items: center;

    top: 2901.5px;
    left: 330px;

}

.text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #333333;

}

.button1 {
    background-color: #333333;
    padding: 15px;
    color: #ffffff;
    width: 150px;
}

.bu {
    text-align: center;
}

.container6 {
    padding-left: 100px;
    padding-right: 100px;
}

.container7 {
    margin-top: 30px;
    padding-bottom: 50px;
    top: 3416.77px;
    background-color: #333333;
    width: 1440px;
}

.input {
    background-color: #333333;
    border: 0px;
    margin-left: -8rem;
}

.line {
    background-color: white;
    border-width: 1px;
    width: 300px;

}

.input-line {
    text-align: center;
}

.button2 {
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    color: white;
    padding: 10px;
    width: 150px;
    margin-top: 20px;
}

.para {
    font-family: 'Autography', cursive;
    font-weight: 400;
    font-size: 25px;
    line-height: 90.62px;
    color: #ffffff;
}

.email {
    width: 192px;
    height: 48px;
    top: 4249.11px;
    left: 80px;

}

.p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.h2 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.in {
    width: 212px;
    height: 120px;
    top: 4208.78px;
    left: 406.68px;

}

.p1 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.h3 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.h4 {
    width: 625px;
    height: 48px;
    top: 4221.49px;
    left: 733.45px;

}

.p2 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.image1 {
    border-radius: 10px;
}

.con {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.ima {
    background-color: black;
    color: ;
}